.container{
    width: 70%;  
    text-align: center;
    margin: auto;
}

.dice{
    text-align: center;
    display: inline-block;
    
}
.button{
    
    text-align: center;
    margin-bottom:5%;
    
}
.btn{
    color:#000;
}
img{
    width: 80%;
}
h1{
    margin: 30px;
    font-family: 'Lobster',cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    
    color:#4ECCA3;
    
    
}

body{
    background-color: #393E46;
}

p{
    font-family: 'Indie Flower',cursive;
    font-size: 2rem;
    color: #4ECCA3;
    
}

footer{
    font-family: 'Indie Flower',cursive;
    margin: 7% 15%;
    display: block;
    text-align: center;
    color: azure;
    font-size: 1rem;
}